---
import {type AstroComponent, Clock, File} from "@lucide/astro";

interface Props {
    title: string;
    description: string;
    informations: {label: string, icon: AstroComponent}[];
    ctas: {label: string, href: string}[]
}

const { title, description, informations, ctas } = Astro.props;
---

<section class="flex justify-center items-center w-full h-full bg-surface">
    <div class="max-w-7xl mx-auto min-h-screen w-full flex items-center pt-20">
        <div class="flex flex-col items-center justify-center gap-4 w-full px-6">
            <h1 set:html={title} class="text-4xl md:text-7xl font-bold text-text text-center">
            </h1>
            <p class="text-sm md:text-lg text-text-muted max-w-2xl text-center">
                {description}
            </p>
            <div class="flex flex-col md:flex-row items-center gap-2">
                {ctas.map((item, index) => (
                        <a href={item.href}
                           class={index === 0
                               ? "px-6 py-3 bg-primary text-white rounded-md hover:bg-primary-dark transition-all duration-300 w-full md:w-auto text-center"
                               : "border border-transparent px-6 py-3 bg-transparent text-text-muted rounded-md hover:border-primary-border transition-all duration-300 w-full md:w-auto text-center"
                           }
                        >
                            {item.label}
                        </a>
                ))}
            </div>

            <div class="flex items-center gap-4">
                {informations.map(item => (
                        <div class="flex items-center gap-0.5">
                            <item.icon size={12} class="text-text-muted"/>
                            <p class="text-xs text-text-muted">{item.label}</p>
                        </div>
                ))}
            </div>
        </div>
    </div>
</section>